<div style="height: 648px;">
    <app-profil></app-profil>
    <div class="account">
        <img src="assets/profilpic.png" alt="Profil" width="170" height="170" class="profilimg">
        <div>
            <div class="username"><strong>{{appService.username}}</strong></div>
            <div class="text">
                <div class="typ"><strong>Name:</strong></div>
                <div class="name">{{appService.username}}</div>
                <div class="typ"><strong>E-mail:</strong></div>
                <div class="password">{{appService.email}}</div>
        </div>
        </div>
    </div>
</div>