.friends{
    margin-left: 1219px;
    margin-top: -590px;
    height: 880px;
    width: 300px;
    background-color: whitesmoke;
    border-color: rgb(31, 169, 224) solid 5px;
    border-radius: 20px;
}