.friends{
    position: relative;
    margin-top: -500px;
    display: inline-block;
    height: 740px;
    width: 300px;
    background-color: whitesmoke;
    border-color: rgb(31, 169, 224) solid 5px;
    border-radius: 20px;
}