.register{
    width: 250px;
    margin: auto;
    margin-top: 130px;
    padding-top: 50px;
    padding-bottom: 65px;
    padding-left: 75px;
    background-color: rgb(31, 169, 224);;
    border-radius: 10px;
}

button{
    color: black;
    background-color: white;
}

button:hover{
    color: white;
    background-color: black;
}

.title{
    margin-left: 35px;
    color: white;
    font-size: xx-large;
}

.input{
    color: black;
    margin: 5px 0px;
}