<div style="height: 648px;">
    <div class="register">
        <div class="title"><strong>Register</strong></div>
        <form [formGroup]="registerGroup" (ngSubmit)="register()">
            <!--<mat-form-field appearance="fill" class="input">
                <mat-label>Enter your name</mat-label>
                <input matInput formControlName="name" placeholder="Jozko" type="text" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input">
                <mat-label>Enter your surname</mat-label>
                <input matInput formControlName="surname" placeholder="Mrkvicka" type="text" required>
            </mat-form-field>-->
            <mat-form-field hintLabel="Max 15 characters" appearance="fill" class="input">
                <mat-label>Enter your name</mat-label>
                <input matInput formControlName="name" #input maxlength="15" placeholder="Jozko Mrkvicka" type="text" required>
                <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input" style="width: 200px;">
                <mat-label>Enter your password</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" type="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
           <!-- <mat-form-field appearance="fill" class="input">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email" placeholder="jozko.mrkvicka@mail.com" type="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input">
                <mat-label>Enter your phone number</mat-label>
                <input matInput formControlName="phonenumber" placeholder="+421 948 258 369" type="number" >
            </mat-form-field>-->
            <mat-card-actions>
                <button mat-raised-button  class="signbtn" type="submit" [disabled]="!registerGroup.valid">Sign in</button>
            </mat-card-actions>
        </form>
    </div>
</div>